/images/*/*
/images_unik/*
/all_images/*
/bazaBacklinks/*
/__pycache__/*
/httpcache/*
__pycache__
*.webp
*.jpg
*.csv
*.zip
*.rar
*.mp3
*.mp4
*.sql
*.json
*.gz
/config/*
/configs/*
/input/*
/output/*
/SETTINGS/*
config.py
/temp
*.txt
/*SEO*
test*
del_*
/cookies/*
llama-main/
llama/
Webdriver_Chrome/
scrapy/*
/.scrapy/*
/.scrapy/