/images/*/*
/images_unik/*
/all_images/*
/bazaBacklinks/*
/__pycache__/*
__pycache__
*.webp
*.jpg
*.csv
*.zip
*.sql
*.json
/config/*
/SETTINGS/*
config.py
/temp
*.txt
/*SEO*
test*
del_*
/cookies/*
llama-main/
llama/
Webdriver_Chrome/
